* {
    margin: 0%;
    padding: 0%;

    font-family: poppins, sans-serif;
    font-style: normal;
    font-weight: 600;
    box-sizing: border-box;

}

.todo-main-container {
    margin-top: 100px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.todo-container {
    height: 200px;
    width: 300px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.main-heading {
    margin-top: 10px;
    font-size: larger;
    color: rgb(0, 0, 0);
    align-items: center;
    align-items: center;
}

.input {
    height: 35px;
    width: 60%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    outline: none;
}

.add-btn {
    background-color: rgb(0, 0, 0);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: 30px;
    width: 80px;
}
.item{
    list-style: none;
}